h1 {
    text-align: center;
    color: black;
    border-style: outset;
    border-color: slategray;
    border-width: 6px;
}
img{
    display: block;
    margin: auto;
    border-style: inset;
    border-width: 10px;
    border-color: slategray;
}

h2 {
    text-align: center;
    color: orange;
}
body {
    background-color: lightslategray;
}
.light-mode {   
    background-color: gainsboro;
}
p{
    font-size: large;
}
li{
    font-size: large;
}